<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932236461639-ebba6j6tn7vaafk53ceq2i7tqon4agj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932236461639-ebba6j6tn7vaafk53ceq2i7tqon4agj4</string>
	<key>API_KEY</key>
	<string>AIzaSyBpmZ8hfs8-GYrZ_Z-457IDlOCYrFtAmGY</string>
	<key>GCM_SENDER_ID</key>
	<string>932236461639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>builderburguer</string>
	<key>PROJECT_ID</key>
	<string>builderburguer</string>
	<key>STORAGE_BUCKET</key>
	<string>builderburguer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932236461639:ios:888911b6a35d619212d362</string>
	<key>DATABASE_URL</key>
	<string>https://builderburguer.firebaseio.com</string>
</dict>
</plist>